<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<div class="container">

    <header th:replace="fragments/navbar :: header"></header>
    <div class="row">
        <div class="col s12 m12">
            <div class="card blue lighten-3">
                <div class="card-content white-text">
                    <span class="card-title">Juegos de Sala agrupados por línea de producto</span>
                    <p>Se agruparán los Juegos de sala de acuerdo a una fecha introducida y a su línea de producto terminado</p>
                </div>
            </div>
        </div>
    </div>
    <form method="get" th:action="@{/estrategico/reporte4/pdf}">
        <div class="col m6">
            <label for="inicio">Fecha de inicio</label>
            <input type="date" class="dob" id="inicio" name="inicio" placeholder="Ingrese fecha de inicio" />
        </div>
        <div class="col m6">
            <label for="fin">Fecha de inicio</label>
            <input type="date" class="dob" id="fin" name="fin" placeholder="Ingrese fecha de fin" />
        </div>
        <button type="submit" class="waves-effect waves-light btn blue darken-3" value="Enviar">Enviar</button>
    </form>

</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script>
    $('.dob').pickadate({
        selectMonths: true,
        selectYears: 35
    });
</script>
</body>
</html>