<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<div class="container">
    <header th:fragment="header">
        <div sec:authorize="isAuthenticated()">
            <!-- Dropdown Structure -->
            <ul id="tactico" class="dropdown-content">
                <li><a href="#!">Materiales de producción</a></li>
                <li><a href="#!">Mano de obra pagada por juego de sala</a></li>
                <li><a href="#!">Costo de sala fabricada por órden de producción</a></li>
                <li><a href="#!">Costo estándar vs costo real</a></li>
                <li><a href="#!">Producto terminado</a></li>
                <li><a href="#!">Órdenes liquidadas</a></li>
            </ul>
            <ul id="estrategico" class="dropdown-content">
                <li><a href="#!">Costos de salas líquidadas</a></li>
                <li><a href="#!">Salas que más se producen</a></li>
                <li><a href="#!">Gastos de producción</a></li>
                <li><a href="#!">Juegos de sala por línea de producto</a></li>
                <li><a href="#!">Costo de sala producida por mes</a></li>
            </ul>

            <nav>
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo">Logo</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a class="dropdown-button" href="#!" data-activates="tactico">Reportes tácticos<i class="material-icons right">arrow_drop_down</i></a></li>
                        <!-- Dropdown Trigger -->
                        <li><a class="dropdown-button" href="#!" data-activates="estrategico">Reportes estrátegicos<i class="material-icons right">arrow_drop_down</i></a></li>
                        <li><a th:href="@{/logout}">Salir</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div sec:authorize="isAnonymous()">

            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Logo</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a th:href="@{/login}">Entrar</a></li>

                    </ul>
                </div>
            </nav>

        </div>
    </header>




</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</body>
</html>