<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<div class="container">

<header th:replace="fragments/navbar :: header"></header>


    <div class="carousel carousel-slider">
        <a class="carousel-item" ><img th:src="@{/images/01.jpg}" /></a>
        <a class="carousel-item" ><img th:src="@{/images/02.jpg}" /></a>
        <a class="carousel-item" ><img th:src="@{/images/03.jpg}" /></a>
        <a class="carousel-item" ><img th:src="@{/images/04.jpg}" /></a>
    </div>


    <div class="row">
        <div class="col s12 m12">
            <div class="card">
                <div class="card-image">
                    <img th:src="@{/images/05.jpg}"/>
                    <span class="card-title">Sistema de información Gerencial</span>
                </div>
                <div class="card-content">
                    <p>Este sistema de información gerencial gestiona y apoya a las tomas de decisiones
                    en la fabricación de Juegos de Sala en la empresa Espumas Artificiales SA de CV.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12">
            <div class="card blue darken 4">
                <div class="card-content white-text">
                    <span class="card-title">Espumar</span>
                    <p>Todos los productos que se fabrican son productos afines a la industria del poliuretano
                        ya que la base principal de todos ellos es la misma esponja que fabricamos en diferentes
                        calidades y propiedades.</p>
                </div>
            </div>
        </div>
    </div>


</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script>
    $('.carousel.carousel-slider').carousel({fullWidth: true});

</script>
</body>
</html>